@import "~font-awesome/css/font-awesome.css";
* {
    outline: none!important;
}

html {
    position: relative;
    min-height: 100%;
    background: #ffffff;
}

body {
    background: #fff;
    font-family: "Rubik", sans-serif;
    margin: 0;
    overflow-x: hidden;
    color: #54667a;
    font-weight: 300;
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

@media (min-width: 768px) {
    .mt-md-0 {
        margin-top: 0 !important;
    }
}

.mr-auto {
    margin-right: auto !important;
}

.form-control {
    color: #54667a;
    min-height: 38px;
    display: initial;
}

.form-control {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.m-r-5 {
    margin-right: 5px!important;
}

img {
    vertical-align: middle;
}

a {
    color: #0275d8;
    text-decoration: none;
    cursor: pointer;
}

.text-center {
    text-align: center!important;
}
